# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Env
.env
!.env.example

# Node
node_modules/
package-lock.json
.nuxt/
.output/
.nitro/

# Postgres data
postgres_data/

# OS
.DS_Store
